<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="margin:7px 0;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")">
                    <img src="~/Content/images/coin.gif" alt="ChowderCoin logo" width="60" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Rates/Conversions", "RatesConversion", "Home")</li>
                    <li>@Html.ActionLink("Store", "Store", "Home")</li>
                </ul>
            </div>
            <div id="cartApp">
                <a href="javascript:void(0)" v-on:click="checkout">
                    <img src="~/Content/images/cart-icon.png" width="50" />
                    <span class="badge badge-light">{{count}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div style="margin:40px 0;">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ChowderCoin Group LLC</p>
        </footer>
    </div>

    <div id="checkoutApp">
        <form id="checkoutForm" @@submit="submitForm" action="" method="post">
            <div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" role="document" style="width:800px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Checkout</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <button type="reset" class="btn-link red-text"  style="float:right;" v-on:click="reset()">Reset</button>
                                <div class="col-sm-6">
                                    <h4>Items</h4>
                                    <ol>
                                        <li v-for="i in items" class="line-item">
                                            {{i.Title}} &nbsp; x {{i.Count}}
                                            <button  type="button" class="btn-link red-text" v-on:click="removeItem(i)">Remove</button>
                                        </li>
                                    </ol>
                                </div>
                                <div class="col-sm-6">
                                    <h4>Payment Info</h4>
                                    <div style="margin-bottom:5px;">
                                        <label>Name: </label>
                                        <input type="text" class="form-control" required/>
                                    </div>
                                    <div style="margin-bottom:5px;">
                                        <label>SSN: </label> 
                                        <input type="text" class="form-control" required/>
                                    </div>
                                    <div style="margin-bottom:5px;">
                                        <label>Bank Routing: </label>
                                        <input type="text" class="form-control" required/>
                                    </div>
                                    <div style="margin-bottom:5px;">
                                        <label>Credit Card #: </label> 
                                        <input type="text" class="form-control" required/>
                                    </div>
                                    <div style="margin-bottom:5px;">
                                        <label>CSC: </label>
                                        <input type="text" class="form-control" required/>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vendor")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
